<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
    <title>HealthyGlobe</title></title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/BIZI.jpg') }}" alt="Healthy-Globe">
        </div>
        <nav>
            <ul>
                <li><a href="http://biziglobe.pythonanywhere.com/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
		<div class="header-search">
            <input type="text" placeholder="Search">
            <button class="search-button">Search</button>
        </div>
        <div class="header-buttons">
            <button class="theme-switch">GET STARTED</button>
            <a href="{{ url_for('download_pdf', filename='updated_table_fullbody22.pdf') }}" target="_blank">Open Guide PDF</a>
        </div>
    </header>

    <main>
        <section class="hero">
            <h1>Welcome to Healthy-Globe</h1>
            <p>Go back to predict a new disease Right NOW!!!...</p>
        </section>

    <section class="contact">
        <h2>The Disease predicted was:</h2>
    </section>
	    
<div class="section">
        <ul>
    <h1>{{ result }}</h1>
        </ul>
    </div>
<div class="section">
        <p>This website helps you to PREDICT THE MOST PROBABLE disease with just symptoms. You just need to fill in the information and just search. IT IS EASY! Feel free to Navigate!</p>
    </div>
	    
</body>
</html>
